.bookmarks {
  margin-top: 2rem;

  .label {
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--brand-color-primary);
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.25rem;
  }

  .navigation-button {
    margin-left: -1em;
    margin-right: -1em;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: flex-start;
    color: var(--text-color-secondary);

    &.is-active {
      color: white;
      background: var(--brand-color-primary);
    }

    svg {
      &[stroke-width],
      [stroke-width] {
        stroke-width: 3px;
      }
    }
  }
}
