.sidebar {
  grid-area: ltcol;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 2rem;
  padding-top: 0;
  background: var(--bg-color-primary);
  overflow: hidden;
  transition: width 0.3s, padding 0.3s;

  .dragbar {
    -webkit-app-region: drag;
    display: block;
    width: auto;
    height: 3.5rem;
    margin: 0 -2rem;
  }

  @media (max-width: 560px) {
    width: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }
}
