@mixin dark-theme {
  --bg-color-primary: #111;
  --bg-color-primary-rgb: 0, 0, 0;
  --bg-color-secodary: #222;
  --bg-color-secodary-rgb: 244, 249, 255;
  --brand-color-primary: #45a3fc;
  --brand-color-primary-rgb: 69, 163, 252;
  --brand-color-secondary: #be00ff;
  --brand-color-secondary-rgb: 190, 0, 255;
  --text-color-primary: #eee;
  --text-color-primary-rgb: 51, 51, 51;
  --text-color-secondary: #bbb;
  --text-color-secodary-rgb: 102, 102, 102;
  --button-shadow-color: transparent;
  --file-icon-color: #888;
}
