@mixin light-theme {
  --bg-color-primary: #fff;
  --bg-color-primary-rgb: 255, 255, 255;
  --bg-color-secodary: #f4f9ff;
  --bg-color-secodary-rgb: 244, 249, 255;
  --bg-color-invert: #fff;
  --bg-color-invert-rgb: 255, 255, 255;
  --brand-color-primary: #3e68ff;
  --brand-color-primary-rgb: 64, 104, 255;
  --brand-color-secondary: #be00ff;
  --brand-color-secondary-rgb: 190, 0, 255;
  --text-color-primary: #333;
  --text-color-primary-rgb: 51, 51, 51;
  --text-color-secondary: #666;
  --text-color-secodary-rgb: 102, 102, 102;
  --button-shadow-color: rgba(0, 0, 0, 0.2);
  --file-icon-color: var(--text-color-primary);
}
