.button {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 2em;
  padding: 0.5em;
  background: none;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.2s, background-position 0.5s, opacity 0.2s,
    color 0.2s;

  &:focus {
    outline: none;
  }

  &.regular {
    font-size: var(--text-primary-size);
  }

  &.small {
    font-size: var(--text-secondary-size);
  }

  &.primary {
    color: white;
    background: linear-gradient(
      90deg,
      var(--brand-color-primary),
      var(--brand-color-primary),
      var(--brand-color-secondary)
    );
    background-size: 200%;
    background-position: 0 0;

    &:hover,
    &:focus {
      background-position: 75% 0%;
    }
  }

  &.secondary {
    color: var(--text-color-primary);
    background-color: var(--bg-color-primary);
    box-shadow: 0 1px 3px rgba(black, 0.2);

    &:hover,
    &:focus {
      color: var(--brand-color-primary);
      background-color: rgba(var(--brand-color-primary-rgb), 0.1);
    }
  }

  &.ghost {
    color: var(--text-color-primary);
    background: transparent;

    &:hover,
    &:focus {
      background: rgba(var(--brand-color-primary-rgb), 0.1);
      color: var(--brand-color-primary);
    }
  }

  &.is-disabled {
    opacity: 0.5;
  }

  &.is-readonly {
    opacity: 1;
    color: initial;
    background: initial;
  }

  &.is-disabled,
  &.is-readonly {
    pointer-events: none;
  }

  > svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;

    &:not(:first-child) {
      margin-left: 0.5em;
    }

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
