.main-view {
  display: grid;
  grid-template-areas:
    'ltcol dgbar ttbar'
    'ltcol dgbar rtcol';
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
