.button-group {
  display: inline-flex;
  align-items: stretch;

  &.horizontal {
    flex-direction: row;
    flex-wrap: nowrap;

    > * {
      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &.vertical {
    flex-direction: column;
    flex-wrap: nowrap;

    > * {
      &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
