.file {
  display: grid;
  grid-template-rows: 4rem auto;
  grid-row-gap: 0.25rem;
  justify-items: center;
  border: none;
  background: none;
  border-radius: 6px;
  pointer-events: none;

  .icon,
  .name {
    transition: color 0.2s, background-color 0.2s;
  }

  .icon {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--file-icon-color);
    border-radius: 0.5rem;

    .extension {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 4px 0.5em 2px;
      font-size: 0.5rem;
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: white;
      background: linear-gradient(
        90deg,
        var(--brand-color-primary),
        var(--brand-color-secondary)
      );
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(var(--bg-color-secondary-rgb), 0.6);
    }
  }

  .name {
    display: -webkit-box;
    max-height: 2.7em;
    padding: 0.1em 0.5em 0;
    overflow: hidden;
    font-size: var(--text-secondary-size);
    line-height: 1.25em;
    letter-spacing: 0.02em;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--text-color-secondary);
    border-radius: 4px;
  }

  .icon,
  .name {
    pointer-events: initial;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    .icon {
      color: var(--brand-color-secondary);
      transition: color 3s;
    }
  }

  &.is-focused {
    .icon {
      color: var(--brand-color-primary);
      background-color: rgba(var(--brand-color-primary-rgb), 0.1);
      transition: color 0.2s;
    }

    .name {
      background-color: var(--brand-color-primary);
      color: white;
    }
  }
}
