.titlebar {
  -webkit-app-region: drag;
  grid-area: ttbar;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 3.5rem;
  padding: 0.75rem;
  box-sizing: border-box;
  background: var(--bg-color-secodary);

  .title {
    margin: 0 1rem;
    overflow: hidden;
    font-size: var(--text-primary-size);
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
  }

  &.left-aligned {
    .title {
      text-align: left;
    }
  }

  &.right-aligned {
    .title {
      text-align: right;
    }
  }

  &:not(.is-focused) {
    pointer-events: none;

    > * {
      opacity: 0.4;
    }
  }

  .window-actions,
  .app-actions {
    -webkit-app-region: no-drag;
  }

  .app-actions {
    @media (max-width: 360px) {
      width: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }
}
