.icon {
  &[stroke],
  [stroke] {
    stroke: currentColor !important;
  }

  &[stroke-width],
  [stroke-width] {
    stroke-width: var(--icon-stroke-width);
  }

  &[fill],
  [fill] {
    &:not([fill='none']) {
      fill: currentColor !important;
    }
  }
}
